.depositor-container {
   
}

.depositor-container h1{
    text-align: center;
    font-weight: 600;
}

.depotable-container {
    /* background-color: #3c7291; */
    height: 400px;
    overflow-y: auto;
    overflow-x: auto;
}

.depotable-master {
    display: flex;
    flex-direction: column;
}

.depotable1-master {
   
    /* background-color: #3c7291; */
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px #a4a6a6;
}

.depotable1-master h2 {
    margin-bottom: 10px;
    text-align: center;
}

.depomaster-form {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin: 1px; margin-top: 20px;
    gap: 20px;

}

.depo-control {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgb(223, 222, 222);
    margin: 10px 0;
    width: 150px;
    margin-bottom: 5px;}

.depositor-label {
    font-weight: 500;
}

.depositor-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  
.depositor-modal {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    max-width: 30%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
}

.depo-btn-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



@media (max-width: 768px) {
    .depositor-container {
        width: 50%;
    }

    .depositor-container h1{
        text-align: left;
        font-weight: 400;
        width: 200px;
    }
    

    .depotable-master {
        width: 75%;
    }

    .depositor-modal {
        max-width: 60%;
        margin-left: 50px;
    }

    

    .depomaster-form {
        grid-template-columns: 1fr;
        height: 15vh;width: 200px;
        overflow-x: auto;
    }

    .depo-control {
        padding: 8px;
        margin: 8px 0;
    }

    .depositor-label {
        font-size: 14px;
    }

    .depo-btn-container {
        flex-direction: column;
        gap: 5px;
    }
}